body {
  font-family: "Merriweather", serif;
  font-family: "Figtree", sans-serif;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    width: 100%;
    text-align: center;
}

h1 {
    margin-top: 50px;
}

input {
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
}

input[type="text"] {
    width: 610px;
}

input[type="date"] {
    width: 300px;
}

input[type="time"] {
    width: 300px;
}

button {
    font-size: 20px;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    background-color: azure;
    cursor: pointer;
}

.link-agenda {
    text-decoration: none;
    font-size: 25px;
    color: rgb(136, 201, 255);
}
.link-agenda:hover {
    text-decoration: underline;
    cursor: pointer;
}