* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: rgb(115, 217, 251);
    color: rgb(35, 76, 76);
    padding: 20px;
}

header h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: rgb(82, 125, 125);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    font-weight: bold;
    text-decoration: rgb(0, 179, 255);
    color: azure;
}